span{
    color:hsl(0, 0%, 52%);
    font-weight: 100;
}

.cntry{
    padding: 1.5rem 4rem;
}

.cntry button{
    margin-bottom: 50px;
    padding: 5px 25px;
    outline: none;
    border: none;
    background-color: hsl(0, 0%, 98%);
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.back{
    text-decoration: none;
    color: hsl(0, 0%, 52%);
}

.country{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.country-flag{
    width: 40%;
}

.country-content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.country-content h1{
    margin-bottom: 20px;
}

.country-content h5{
    font-weight: 600;
    color: black;
    line-height:2;
}

.country-flag img{
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 1020px){
    .country-content h1{
        margin-bottom: 10px;
    }
    
    .country-content h5{
        line-height:1.5;
    }

    .country{
        align-items: flex-start;
    }
}

@media only screen and (max-width: 870px){
    nav{
        padding: 1.5rem;
    }

    .cntry{
        padding: 1.5rem;
    }

    .country-content h1{
        margin-bottom: 6px;
    }

    .country-content h5{
        line-height:1.3;
    }
    
}

@media only screen and  (max-width:720px){
    nav{
        padding: 1rem;
    }

    .cntry{
        padding: 1rem;
    }

    .country{
        flex-direction: column;
        gap: 20px;
    }

    .country-flag{
        width: 100%;
    }

    .country-content h1{
        margin-bottom: 10px;
    }
    
    .country-content h5{
        line-height:1.8;
    }
}