nav{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 4rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

button{
    background-color: white;
    outline: none;
    border: none;
    font-weight: 300;
}

.input{
    padding: 1.5rem 4rem;
    display: flex;
    justify-content: space-between;
}

.search{
    padding: 0.8rem;
    border-radius: 6px;
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 1px 7px 0px;
    width: 350px;
}

select{
    padding: 0.8rem;
    color: hsl(0, 0%, 52%);
    border: none;
    border-radius: 6px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 1px 7px 0px;
    width: 180px;
}

.card{
    padding: 1.5rem 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    justify-items: center;
    gap: 1rem;
}

.cards{
    background: white;
    width: 200px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 1px 7px 0px;
    border-radius: 6px;
}

.flag{
    width: 100%;
    border-radius: 6px 6px 0 0;
}

.card-content{
    padding: 0.8rem 1rem 2rem 1rem;
    border-radius: 0 0 6px 6px;
}

.card-content h4{
    margin-bottom: 10px;
}

.card-content h5{
    font-weight: 600;
    color: black;
}

span{
    color:hsl(0, 0%, 52%);
    font-weight: 100;
}

@media only screen and (max-width: 680px){
    nav{
        padding: 1rem;
    }
    
    .input{
        padding: 1rem;
        flex-direction: column;
        gap: 15px;
    }

    .card{
        padding: 1rem;
    }
    
    .cards{
        width:80%;
    }
    
    .search{
        width: 100%;
    }
}
